<tr id="employee_<%= employee.id %>">
  <td><%= employee.name %></td>
  <td><%= employee.address %></td>
  <td><%= '%.2f' % employee.salary rescue '' %></td>
  <td><%= employee.department.company.name rescue '' %></td>
  <td><%= employee.department.name rescue '' %></td>
  <td>
    <p data-placement="top" data-toggle="tooltip" title="Edit">
      <button class="btn btn-primary btn-xs" id="edit_employee_<%= employee.id %>">
        <span class="glyphicon glyphicon-pencil"></span></button>
    </p>
  </td>
  <td>
    <%= link_to employee, method: :delete, data: {confirm: "Are you sure?"}, remote: true do %>
        <p data-placement="top" data-toggle="tooltip" title="Delete">
          <button class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-trash"></span></button>
        </p>
    <% end %>
  </td>
</tr>
<script>$(function () {
  var $modal = $('#employee_modal');
  $('#edit_employee_<%= employee.id %>').on('click', function () {
    $modal.load('<%= edit_employee_path(employee) %>', '', function () {
      $modal.modal();
    });
  });
});</script>