<%= form_for employee, remote: true do |f| %>
    <% if employee.errors.any? %>
        <p class="alert alert-danger"><%= employee.errors.full_messages.first %></p>
    <% end %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :address %><br/>
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label :salary %><br/>
      <%= f.text_field :salary %>
    </p>
    <p>
      <%= f.label :department_id %><br/>
      <%= f.select :department_id, options_from_collection_for_select(departments, :id, :name, f.object.department_id), include_blank: '' %>
    </p>
    <p>
      <%= f.submit nil, class: 'btn btn-warning' %>
    </p>
<% end %>