<%= form_for employee, remote: true, html: {id: 'employee_form'} do |f| %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
      <span class="help-block"></span>
    </p>
    <p>
      <%= f.label :address %><br/>
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label :salary %><br/>
      <%= f.text_field :salary %>
      <span class="help-block"></span>
    </p>
    <p>
      <%= f.label :department_id %><br/>
      <%= f.select :department_id, options_from_collection_for_select(departments, :id, :name, f.object.department_id), include_blank: '' %>
    </p>
    <p>
      <%= f.submit nil, class: 'btn btn-warning' %>
    </p>

<% end %>
<script>
  $(function () {
    var $form = $('#employee_form');
    $form.validate({
      rules: {
        "employee[name]": {
          required: true
        },
        "employee[salary]": {
          number: true
        }
      },
      errorPlacement: function (error, element) {
        $(element).closest('p').find('.help-block').text(error.text());
      },
      highlight: function (element) {
        $(element).closest('p').removeClass('has-success');
        $(element).closest('p').addClass('has-error');
      },
      unhighlight: function (element) {
        $(element).closest('p').removeClass('has-error');
      },
      success: function (element) {
        $(element).closest('p').addClass('has-success');
      }
    });
  });
</script>