<tr id="company_<%= company.id %>">
  <td><%= link_to company.name, company_departments_path(company) %></td>
  <td><%= get_department_count(company) %></td>
  <td><%= get_employee_count(company) %></td>
  <td><%= '%.2f' % get_mean_salary(company.employees) %></td>
  <td><%= '%.2f' % get_total_salaries(company.employees) %></td>
  <td>
    <p data-placement="top" data-toggle="tooltip" title="Edit">
      <button class="btn btn-primary btn-xs" id="edit_company_<%= company.id %>">
        <span class="glyphicon glyphicon-pencil"></span></button>
    </p>
  </td>
  <td>
    <%= link_to company, method: :delete, data: {confirm: "Are you sure?"}, remote: true do %>
        <p data-placement="top" data-toggle="tooltip" title="Delete">
          <button class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-trash"></span></button>
        </p>
    <% end %>
  </td>
</tr>
<script>$(function () {
  var $modal = $('#company_modal');
  $('#edit_company_<%= company.id %>').on('click', function () {
    $modal.load('<%= edit_company_path(company) %>', '', function () {
      $modal.modal();
    });
  });
});</script>