<%= form_for company, remote: true do |f| %>
    <% if company.errors.any? %>
        <p class="alert alert-danger"><%= company.errors.full_messages.first %></p>
    <% end %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit nil, class: 'btn btn-warning' %>
    </p>
<% end %>