<%= form_for department, remote: true, html: {id: 'department_form'} do |f| %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
      <span class="help-block"></span>
    </p>
    <p>
      <%= f.label :company_id %><br/>
      <%= f.select :company_id, options_from_collection_for_select(companies, :id, :name, f.object.company_id), include_blank: '' %>
    </p>
    <p>
      <%= f.label :super_department_id %><br/>
      <%= f.select :super_department_id, options_from_collection_for_select(departments, :id, :name, f.object.super_department_id), include_blank: '' %>
    </p>
    <p>
      <%= f.label :manager_id %><br/>
      <%= f.select :manager_id, options_from_collection_for_select(employees, :id, :name, f.object.manager_id), include_blank: '' %>
    </p>
    <p>
      <%= f.submit nil, class: 'btn btn-warning' %>
    </p>
<% end %>
<script>
  $(function () {
    var $form = $('#department_form');
    $form.validate({
      rules: {
        "department[name]": {
          required: true
        }
      },
      errorPlacement: function (error, element) {
        $(element).closest('p').find('.help-block').text(error.text());
      },
      highlight: function (element) {
        $(element).closest('p').removeClass('has-success');
        $(element).closest('p').addClass('has-error');
      },
      unhighlight: function (element) {
        $(element).closest('p').removeClass('has-error');
      },
      success: function (element) {
        $(element).closest('p').addClass('has-success');
      }
    });
  });
</script>